<div>
    <label for="goalietron_title">Widget title:</label>
    <input class="widefat" name="goalietron_title" id="goalietron_title" value="{title}"/>
</div>
<div>
    <label for="goalietron_toptext">Text top:</label>
    <input class="widefat" name="goalietron_toptext" id="goalietron_toptext" value="{toptext}"/>
</div>
<div>
    <label for="goalietron_bottomtext">Text bottom:</label>
    <input class="widefat" name="goalietron_bottomtext" id="goalietron_bottomtext" value="{bottomtext}"/>
</div>
<div>
    <label for="goalietron_design">Design:</label>
    <select class="widefat" id="goalietron_design" name="goalietron_design">
        <option value="default">Default</option>
        <option value="fancy">Fancy</option>
        <option value="minimal">Minimal</option>
        <option value="streamlined">Streamlined</option>
        <option value="reversed">Reversed</option>
    </select>
</div>
<div>
    <label for="goalietron_metercolor">Color:</label>
    <select class="widefat" id="goalietron_metercolor" name="goalietron_metercolor">
        <option value="red">Red</option>
        <option value="green">Green</option>
        <option value="orange">Orange</option>
        <option value="blue">Blue</option>
        <option value="red nostripes">Red without stripes</option>
        <option value="green nostripes">Green without stripes</option>
        <option value="orange nostripes">Orange without stripes</option>
        <option value="blue nostripes">Blue without stripes</option>
    </select>
</div>
<div>
    <label for="goalietron_showgoaltext">Show goal description:</label>
    <select class="widefat" id="goalietron_showgoaltext" name="goalietron_showgoaltext">
        <option value="true">Yes</option>
        <option value="false">No</option>
    </select>
</div>
<div>
    <label for="goalietron_showbutton">"Become a patron" button</label>
    <select class="widefat" id="goalietron_showbutton" name="goalietron_showbutton">
        <option value="true">Yes</option>
        <option value="false">No</option>
    </select>
</div>
<div>
    <label for="goalietron_patreon_userid">Patreon user id:</label>
    <input class="widefat" name="goalietron_patreon_userid" id="goalietron_patreon_userid" value="{patreon_userid}"/>
</div>

<script language="JavaScript">
    jQuery(document).ready(function ()
    {
        jQuery("#goalietron_design option[value='{design}']").attr('selected', 'selected');
        jQuery("#goalietron_metercolor option[value='{metercolor}']").attr('selected', 'selected');
        jQuery("#goalietron_showgoaltext option[value='{showgoaltext}']").attr('selected', 'selected');
        jQuery("#goalietron_showbutton option[value='{showbutton}']").attr('selected', 'selected');
    });
</script>
