<script language="JavaScript">
    var PatreonData = {goalietron_json};
    var GoalieTronShowGoalText = {showgoaltext};
</script>
<div class="goalietron_toptext">{toptext}</div>
<div class="goalietron_goalmoney">
    <span class="goalietron_goalmoneytext"></span>
    <span class="goalietron_goalreached goalreached"></span>
</div>
<div class="goalietron_paypername"></div>
<div class="meter {metercolor} goalietron_meter">
    <span style="width: 0%"></span>
</div>
<div class="goalietron_goaltext"></div>
<div class="goalietron_bottomtext">{bottomtext}</div>
<div class="goalietron_button">{goalietron_button}</div>
