<script>
    var PatreonData = {patreonic_json};
    var PatreonicShowGoalText = {showgoaltext};
</script>
<div id="patreonic_bottomtext">{bottomtext}</div>
<div id="patreonic_goaltext"></div>
<div class="meter {metercolor}" id="patreonic_meter">
    <span style="width: 0%"></span>
</div>
<div class="patreonic_streamlinetext">
    <span id="patreonic_toptext">{toptext}</span>
    <span id="patreonic_goalmoneytext"></span>
    <span id="patreonic_paypername"></span>
</div>
<div class="patreonic_button">{patreonic_button}</div>
