<div>
    <label for="{title_field_id}">Widget title:</label>
    <input class="widefat" name="{title_field_name}" id="{title_field_id}" value="{title}"/>
</div>
<div>
    <label for="{toptext_field_id}">Text top:</label>
    <input class="widefat" name="{toptext_field_name}" id="{toptext_field_id}" value="{toptext}"/>
</div>
<div>
    <label for="{bottomtext_field_id}">Text bottom:</label>
    <input class="widefat" name="{bottomtext_field_name}" id="{bottomtext_field_id}" value="{bottomtext}"/>
</div>
<div>
    <label for="{design_field_id}">Design:</label>
    <select class="widefat" id="{design_field_id}" name="{design_field_name}">
        <option value="default">Default</option>
        <option value="fancy">Fancy</option>
        <option value="minimal">Minimal</option>
        <option value="streamlined">Streamlined</option>
        <option value="reversed">Reversed</option>
        <option value="swapped">Swapped</option>
    </select>
</div>
<div>
    <label for="{metercolor_field_id}">Color:</label>
    <select class="widefat" id="{metercolor_field_id}" name="{metercolor_field_name}">
        <option value="red">Red</option>
        <option value="green">Green</option>
        <option value="orange">Orange</option>
        <option value="blue">Blue</option>
        <option value="red nostripes">Red without stripes</option>
        <option value="green nostripes">Green without stripes</option>
        <option value="orange nostripes">Orange without stripes</option>
        <option value="blue nostripes">Blue without stripes</option>
    </select>
</div>
<div>
    <label for="{showgoaltext_field_id}">Show goal description:</label>
    <select class="widefat" id="{showgoaltext_field_id}" name="{showgoaltext_field_name}">
        <option value="true">Yes</option>
        <option value="false">No</option>
    </select>
</div>
<div>
    <label for="{showbutton_field_id}">"Become a patron" button</label>
    <select class="widefat" id="{showbutton_field_id}" name="{showbutton_field_name}">
        <option value="true">Yes</option>
        <option value="false">No</option>
    </select>
</div>
<div>
    <label for="{goal_mode_field_id}">Goal Mode:</label>
    <select class="widefat" id="{goal_mode_field_id}" name="{goal_mode_field_name}">
        <option value="legacy">Legacy API (requires user ID)</option>
        <option value="custom">Custom Goals (public data)</option>
    </select>
</div>
<div id="{goal_mode_field_id}_legacy_options">
    <div>
        <label for="{patreon_userid_field_id}">Patreon user id:</label>
        <input class="widefat" name="{patreon_userid_field_name}" id="{patreon_userid_field_id}" value="{patreon_userid}"/>
    </div>
</div>
<div id="{goal_mode_field_id}_custom_options" style="display:none;">
    <div>
        <label for="{patreon_username_field_id}">Patreon username:</label>
        <input class="widefat" name="{patreon_username_field_name}" id="{patreon_username_field_id}" value="{patreon_username}" placeholder="e.g. scishow"/>
    </div>
    <div>
        <label for="{custom_goal_id_field_id}">Custom Goal:</label>
        <select class="widefat" id="{custom_goal_id_field_id}" name="{custom_goal_id_field_name}">
            <option value="">Select a custom goal...</option>
            {custom_goals_options}
        </select>
        <p class="description">Create custom goals using the CLI: <code>php patreon-cli.php goal-add</code></p>
    </div>
</div>

<script language="JavaScript">
    jQuery(document).ready(function ()
    {
        var fieldId = '{design_field_id}';
        var goalModeFieldId = '{goal_mode_field_id}';
        
        // Set selected values
        jQuery("#" + fieldId + " option[value='{design}']").attr('selected', 'selected');
        jQuery("#{metercolor_field_id} option[value='{metercolor}']").attr('selected', 'selected');
        jQuery("#{showgoaltext_field_id} option[value='{showgoaltext}']").attr('selected', 'selected');
        jQuery("#{showbutton_field_id} option[value='{showbutton}']").attr('selected', 'selected');
        jQuery("#" + goalModeFieldId + " option[value='{goal_mode}']").attr('selected', 'selected');
        jQuery("#{custom_goal_id_field_id} option[value='{custom_goal_id}']").attr('selected', 'selected');
        
        // Toggle options based on goal mode
        function toggleGoalOptions() {
            var mode = jQuery("#" + goalModeFieldId).val();
            if (mode === 'custom') {
                jQuery("#" + goalModeFieldId + "_legacy_options").hide();
                jQuery("#" + goalModeFieldId + "_custom_options").show();
            } else {
                jQuery("#" + goalModeFieldId + "_legacy_options").show();
                jQuery("#" + goalModeFieldId + "_custom_options").hide();
            }
        }
        
        toggleGoalOptions();
        jQuery("#" + goalModeFieldId).change(toggleGoalOptions);
    });
</script>